node_modules/
bower_components/
typings/
dist/
bmb_packages/
.brand-tmp-sass-j2ga/
.brand-tmp-ts-j2ga/
.bowerrc
.npmrc
.tsdrc
.vscode
*.log
_versions.txt
aura.json

# compiled scripts
app/**/*.js
app/assets/css/*
app/assets/fonts
app/assets/icons
app/assets/*.css
app/assets/*.svg
app/assets/docs
app/assets/font
sso_login_app/assets/fonts
!app/system.config.js
!app/system.run.js
!app/bootstrap.js

.idea
.idea/burstmode.iml
.idea/workspace.xml
*.iml

endpoint.txt
publish.zip
*.DS_Store
*bamboo.log*
